---
layout: default
title: Silvia & Michal
permalink: /silvia-michal/
---

<div class="profile-container">
	<div class="profile-pic"><img src="/assets/images/hb-michal.jpg" alt="Silvia's profile picture"></div>

	<div class="profile-text-container">
		<h2>Silvia</h2>
		<p class="profile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae cursus tellus, sit amet gravida neque. Sed tempus nisl sed magna sodales, sit amet elementum neque ornare. Mauris congue accumsan ipsum, in vehicula tortor porta in. Ut scelerisque nisi nec erat porta tempus.</p>

		<p>Website: <a href="http://helloiamsilvia.com" target="_blank">Hello I am Silvia</a></p>
		{% include social-icon.html owner="silvia" %}
	</div>
</div>



<div class="profile-container">

	<div class="profile-pic"><img src="/assets/images/hb-michal.jpg" alt="Michal's profile picture"></div>
	
	<div class="profile-text-container">
		<h2>Michal</h2>
		<p class="profile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae cursus tellus, sit amet gravida neque. Sed tempus nisl sed magna sodales, sit amet elementum neque ornare. Mauris congue accumsan ipsum, in vehicula tortor porta in. Ut scelerisque nisi nec erat porta tempus.</p>

		<p>Website: <a href="http://makefriendstraveling.com" target="_blank">Hello I am Silvia</a></p>
		{% include social-icon.html owner="michal" %}
	</div>
</div>




