---
layout: default
title: Silvia & Michal
permalink: /silvia-michal/
---

<div class="silvia-michal-about">
	<h2>About</h2>

	<p>Silvia and Michal are lovers, best friends, and business partners. They fell in love with each other for the first time in 2014, and since then they love to experiment with their relationships—with each other, with themselves, and with people around them: </p>

	<p>“How can we better support each other? How can we have even more fun together? How can we better deal with challenging emotions such as jealousy, anger and disconnection? How can we improve our business and our work relationship while travelling? How do we connect with other people intimately, and how does that affect us as a couple? What do the words “community”, “family”, and “tribe” mean to us? How can we balance self love and our relationships with our loved ones? How can we make tomorrow even more amazing than today?”</p>

	<p>Honeyboom is where they share their story, their struggles, and their tools with you. Whether you want to be closer to your partner, improve your relationship with your family, or gain the confidence to start meaningful conversations with strangers as you travel, there is a chance you might find inspiration here.</p>
</div>



<div class="profile-container">
	<div class="profile-pic"><img src="/assets/images/hb-silvia.jpg" alt="Silvia's profile picture"></div>

	<div class="profile-text-container">
		<h2>Silvia</h2>
		<p class="profile-text"><b>Passionate about:</b> writing, drawing, lucid dreaming, healthy living, nature, traveling, minimalism, yoga.<br>
			<b>Current goals:</b> loving herself and others fully, being the healthiest version of herself, becoming immortal.<br>
<b>Things she has done in the past:</b> worked at the European Youth Parliament, fell in and out of love, studied Graphic Design, played the violin and taught others to play, read a book that changed her life, created interactive theatre plays and immersive experiences, supported people with special needs.<br>
<b>If she would be an animal she would be:</b> a monkey.<br>
<b>Interesting fact:</b> when she was a child she wanted to be a vet; now that she’s grown up, she strives to remain a child in each and every moment of her life.
</p>

		<p>Website: <a href="http://helloiamsilvia.com" target="_blank">Hello I am Silvia</a></p>
		{% include social-icon.html owner="silvia" %}
	</div>
</div>



<div class="profile-container">

	<div class="profile-pic"><img src="/assets/images/hb-michal.jpg" alt="Michal's profile picture"></div>

	<div class="profile-text-container">
		<h2>Michal</h2>
		<p class="profile-text"><b>Passionate about:</b> sailing, creating, helping people create, learning and teaching, dancing, traveling, entrepreneurship, writing.<br>
<b>Current goals:</b> sailing across the Ocean, supporting world-changing ideas, having a family.<br>
<b>Things he has done in the past:</b> hitchhiked all around Europe, studied Film and Media, worked at the European Youth Parliament, managed a charity, created interactive immersive theatre plays, taught kids the art of writing letters, made a documentary film, helped people transform their lives.<br>
<b>If he would be an animal he would be:</b> a turtle.<br>
<b>Interesting fact:</b> he feels Water, but he loves Fire. His heart belongs in coldness of the sea, and yet his path is to show others how to let their inner flames shine.
</p>

		<p>Website: <a href="http://michalkorzonek.com" target="_blank">Michal Korzonek</a></p>
		{% include social-icon.html owner="michal" %}
	</div>
</div>
