
{% if include.footer %}
  <a href="https://{{ include.name }}.com/{{ include.username }}" target="_blank">
      <img src="/assets/images/social/icon-{{ include.name }}.png" alt="social" width="16" class="icon"/>
      {% if include.name == "youtube" %}
	<span class="username">honeyboom</span>
      {% else %}
	<span class="username">{{ include.username }}</span>
      {% endif %}
    </a>
{% else %}
<ul class="social-media-list sm-social-list">
  {% assign owner = site.data.social[include.owner] %}
  {% for icon in owner %}
    <li>
    <a href="https://{{ icon.name }}.com/{{ icon.username }}" target="_blank">
      <img src="/assets/images/social/icon-{{ icon.name }}.png" alt="social" width="16" class="icon"/>
      <span class="username">{{ icon.username }}</span>
    </a>
    </li>
  {% endfor %}
</ul>
{% endif %}
