<div class="sorting-table">
	<div class="tags-container">
      	<ul class="blog-tags-list">
        	<li class="blog-tag-item active" id="all-posts">
        	   <a href onclick="order('chrono-date'); return false;">all</a>
        	</li>
            {% if page.url == "/watch/" %}
                {% for tag in site.data.tags.watch %}
                  	    <li class="blog-tag-item" id="{{ tag }}-item">
                  	      <a href onclick="filter('{{ tag }}'); return false;">{{ tag }}</a>
                  	    </li>
          	    {% endfor %}
            {% else if page.url == "/read/" %}
                {% for tag in site.data.tags.read %}
                        <li class="blog-tag-item" id="{{ tag }}-item">
                          <a href onclick="filter('{{ tag }}'); return false;">{{ tag }}</a>
                        </li>
                {% endfor %}
            {% endif %}
 	 	</ul>
	</div>
  <p class="selected-tags-text">Showing <b>all</b> posts ordered by date.</p>
</div>
