<div class="sorting-table">
	<div class="tags-container">
    <ul class="blog-tags-list">
     	<li class="blog-tag-item active" id="all-posts">
        <a href onclick="order('chrono-date'); return false;">all</a>
      </li>
      {% for tags in site.tags %}
      {% assign tag = tags | first %}
      {% unless tag == "video" or tag == "link" %}
	    <li class="blog-tag-item" id="{{ tag }}-item">
	      <a href onclick="filter('{{ tag }}'); return false;">{{ tag }}</a>
	    </li>
      {% endunless %}
	    {% endfor %}
 	 	</ul>
	</div>
  <p class="selected-tags-text">Showing <b>all</b> posts ordered by date.</p>
</div>
