/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit;
}

.site-footer p {
  text-align: justify;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}


.footer-col-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-bottom: $spacing-unit;
  @include media-query($on-palm) {
    justify-content: unset;
  }
}

.footer-col-wrapper ul {
  list-style-type: none;
  margin-left: 0;
}

.footer-col-wrapper > ul {
  display: table;
}

.footer-col-wrapper > ul > li {
  display: table-cell;
}

.footer-col-wrapper > ul > li:first-child {
  padding-left: 0;
}

.footer-col-wrapper > ul > li {
  padding-left: $big-spacing-unit;
  margin-left: 0;
}

.footer-col-wrapper > ul > li ul li {
  font-size: $small-font-size;
  @include media-query($on-palm) {
    margin-bottom: 5px;
    overflow-x: hidden;
  }
}

.footer-col-wrapper > ul > li h2 {
  color: $grey-color;
  font-size: $base-font-size;
}


.footer-description {
  font-size: $small-font-size;
  color: $grey-color;
}





/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $big-spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.page-image {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  img {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


/**
 * Post Page
 */

.post-container {
  display: flex;
  flex-flow: row nowrap;
  @include media-query($on-palm) {
    flex-flow: column nowrap;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  p.post-meta {
    text-align: justify;
  }
}

.post-content-img {
  p.post-meta {
    text-align: justify;
  }
  @include media-query($on-palm) {
    margin-left: 0px;
    margin-bottom: $small-spacing-unit;
  }
}

.post-thumb {
  width: auto;
  height: auto;
  max-width: 360px;
  max-height: 200px;
  min-width: 360px;
  margin-right: $spacing-unit;
  margin-bottom: $spacing-unit;
  @include media-query($on-palm) {
    margin-right: 0px;
    margin-bottom: $small-spacing-unit;
    min-width: 160px;
  }
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.active {
  a {
    color: black;
    text-decoration: underline;
  }
}

.blog-list {
  margin-left: 0;
  list-style-type: none;
  li {
    margin-bottom: $big-spacing-unit;
  }
}

.sorting-table {
  display: flex;
  flex-flow: row nowrap;
  ul {
    list-style-type: none;
  }
}

