---
layout: root
---

<img src="/assets/images/digital-nomad-changing.jpg" alt="Digital Nomad Changing" class="bg-image">

<main class="page-content" aria-label="Content">
  <div class="wrapper">

    <div class="home">
      <br>
      <p class="homepage-text">
        The Nomadic Lifestyle is Changing.
      </p>
      <p class="homepage-text">
        Being “location independence” is no longer enough. We all know about the freedom of being based wherever we want and the joy of working a remote job or running our own business; but now, we want a deeper, more internal kind of freedom.
      </p>
      <p class="homepage-text">
        We have had enough short lived meaningless interactions here and there. We have had enough talks about food, cryptocurrency, social media marketing and cultural jokes. We have had enough one night stands, networking events, tinder dates and pizza nights with people with whom we have nothing in common apart from the fact that we are… “digital nomads”.
      </p>
      <p class="homepage-text">
        And now, we are realizing that true freedom and fulfillment is about much more than that:
      </p>
      <p class="homepage-text">
        <b>It’s about being able to have conversations that blow our minds and change our lives. It’s about community. It’s about going anywhere in the world and knowing that we are not alone. It’s about deep talks, chills down our spines, and collaboration with like-minded people. It’s about having interactions that mark us, and relationships that help us transform the world as we travel around it.</b>
      </p>
      <p class="homepage-text">
        Want to be a part of it? Leave us your email, and we will get in touch.
      </p>
      <p class="homepage-text">
        Very. Soon.
      </p>
      <p class="homepage-text">
        With Love,
      </p>
      <p class="homepage-text">
        Honeyboom
      </p>

      <script async id="_ck_402911" src="https://forms.convertkit.com/402911?v=7"></script>

    </div>

  </div>
</main>

{% include footer.html %}
