---
layout: default
---

<div class="home">

  <!-- <p class="homepage-text"></p> -->
  
  <div class="subscribe-button">
    <a href="https://tinyletter.com/honeyboom" target="_blank">
      <img src="/assets/images/subscribe-button.png" alt="Subscribe by clicking here">
    </a>
  </div>
  
  <div class="button-container">
		<div class="explore-button">
  		<a href="/free-tools">Explore</a>
		</div>
	</div>

  <div class="home-pictures">
		<div class="pictures-container">
			<ul>
			<li><img src="/assets/images/intentional-relationships.png" alt="Intentional Relationships"></li>
			<li><img src="/assets/images/experimental-connections.png" alt="Experimental Connections"></li>
			<li><img src="/assets/images/nomadic-love.png" alt="Nomadic Love"></li>
			<li><img src="/assets/images/self-awareness.png" alt="Self-Awareness"></li>
			<li><img src="/assets/images/games-challenges.png" alt="Games and Challenges"></li>
			</ul>
		</div>
	</div>

  {{ content }}

</div>
