---
layout: default
---

<div class="home">


  <p>Hello there.</p> 

  <p>We’re Sílvia and Michal. We are lovers, best friends, and business partners, and Honeyboom is where our path meets yours.</p>

  <div class="page-image"><img src="/assets/images/hb-hello.jpg" alt="Hello everyone!"></div>

  <p>Nothing matters more to us than our relationships—with each other, with our lovers and friends, with foreign people in a new country or the old lady next door—and with you.</p>

  <p>Therefore, as we travel the world together, we spend a lot of our time experimenting:
  <ul>
    <li>How can we make our relationship with each other even more wonderful? </li>
    <li>How can we create friendships for life, stay in touch with our loved ones, and take care of each other in the meantime? </li>
    <li>How can we start meaningful, life changing conversations with strangers? </li>
    <li>How can we connect deeper, make each moment count, experience complete unity? </li>
  </ul>

  <p>photo (img/hb-photo2.jpg)</p>

  <p>Honeyboom is where we share our conclusions with you. They come in the shape of practical tools, inspiring stories, funky products you can share and exchange, and much more.</p>

  <p>Care to join us?</p>

  <a href="/free-tools">Yes, give me some free tools!</a>

  {{ content }}

</div>
