---
layout: default
---
<article class="post" data-posttime="{{ page.date | date_to_xmlschema }}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
			{{ page.title | escape }}
    </h1>
    

		{% if page.tags contains 'video' %}
		{% else %}
			{% assign video = 'false' %}
		{% endif %}

    {% if page.image and video == 'false' %}
       <img src="{{ page.image }}" alt="Post Image">
    {% endif %}

     <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

	<div class="bottom-tags">
		{% assign sorted_tags = page.tags | sort %}
	  {% if sorted_tags %}
	    <p>Tags: </p>
  	{% endif %}
	  
    {% if page.tags contains "video" %}
      {% for tag in sorted_tags %}
      {% unless tag == "video" %}
        <span class="tag"><a href="/watch/#{{ tag }}">{{ tag }}</a>&nbsp;</span>
      {% endunless %}
      {% endfor %}
    {% else %}
      {% for tag in sorted_tags %}
      <span class="tag"><a href="/read/#{{ tag }}">{{ tag }}</a>&nbsp;</span>
      {% endfor %}
    {% endif %}
	</div>
	
	{% if page.tags contains "video" %}
	  <p class="back-button"><a href="/watch">&#8617; Back &#8617;</a></p>
  {% else %}
    <p class="back-button"><a href="/read">&#8617; Back &#8617;</a></p>
  {% endif %}
  
  {% if site.disqus_shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
