---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
	{{ page.title | escape }}
    </h1>
    
    {% if page.image %}
       <img src="{{ page.image }}" alt="Post Image">
    {% endif %}

     <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

	<div class="bottom-tags">
		{% assign sorted_tags = page.tags | sort %}
	  {% if sorted_tags %}
	    <p>Tags: </p>
  	{% endif %}
	  {% for tag in sorted_tags %}
	    <span class="tag"><a href="/free-tools/#{{ tag }}">{{ tag }}</a>&nbsp</span>
  	{% endfor %}
	</div>

  {% if site.disqus_shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
