---
layout: default
---
<article class="post" data-posttime="{{ page.date | date_to_xmlschema }}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
			{{ page.title | escape }}
    </h1>


		{% unless page.tags contains 'video' %}
			{% assign video = 'false' %}
		{% endunless %}

    {% if page.image and video == 'false' %}
       <img src="{{ page.image }}" alt="Post Image">
    {% endif %}

     <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
    </p>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

	<div class="bottom-tags">
		{% assign sorted_tags = page.tags | sort %}
	  {% if sorted_tags %}
	    <p>Tags: </p>
  	{% endif %}

    {% for tag in sorted_tags %}
    {% unless tag contains "video" or tag contains "link" %}
      <span class="tag"><a href="/blog/#{{ tag }}">{{ tag }}</a>&nbsp;</span>
    {% endunless %}
    {% endfor %}
	</div>

  <p class="back-button"><a href="/blog">&#8617; Back &#8617;</a></p>

  {% if site.disqus_shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
